<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>INICIO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <a th:href="@{/add}">Crear Persona</a>
        <br>
        <div th:if="${persons != null and !persons.empty}">
            <table>
                <thead>
                    <tr>
                        <th>Nombre:</th>
                        <th>Apellido:</th>
                        <th>Email:</th>
                        <th>Teléfono:</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="person : ${persons}">
                        <td><span th:text="${person.first_name}"></span></td>
                        <td><span th:text="${person.last_name}"></span></td>
                        <td><span th:text="${person.email}"></span></td>
                        <td><span th:text="${person.phone}"></span></td>
                        <td><a th:href="@{/edit/}+${person.id}" >Editar</a></td>
                        <td><a th:href="@{/delete/}+${person.id}" >Eliminar</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div th:if="${persons == null or persons.empty}">
            <p>LISTA VACIA</p>
        </div>
    </body>
</html>
