<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>INICIO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layouts/template :: header"></header>
        <a th:href="@{/add}">[[#{person.create}]]</a>
        <br>
        <div th:if="${persons != null and !persons.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>[[#{person.first_name}]]</th>
                        <th>[[#{person.last_name}]]</th>
                        <th>[[#{person.email}]]</th>
                        <th>[[#{person.phone}]]</th>
                        <th>[[#{action.edit}]]</th>
                        <th>[[#{action.delete}]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="person : ${persons}">
                        <td><span th:text="${person.first_name}"></span></td>
                        <td><span th:text="${person.last_name}"></span></td>
                        <td><span th:text="${person.email}"></span></td>
                        <td><span th:text="${person.phone}"></span></td>
                        <td><a th:href="@{/edit/}+${person.id}" >Editar</a></td>
                        <td><a th:href="@{/delete(id=${person.id})}" >Eliminar</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div th:if="${persons == null or persons.empty}">
            <p>[[#{person.emptylist}]]</p>
        </div>
        
        <footer th:replace="layouts/template :: footer"></footer>
    </body>
</html>
